@model List<Microsoft.Graph.User>

    @{
        ViewData["Title"] = "Users";
    }
    
    
    
    @foreach(var item in Model)
    {

        <h3>Users</h3>


        <span>
            <label> User:            </label>

           <p> @item.DisplayName</p>

            <label> Email:            </label>

            <p>  @item.Mail</p>

             <label>Alt. Email:</label>
            <p>  @item.UserPrincipalName</p>
            

            <hr/>
           </span> 


    }