@model Microsoft.Graph.IGraphServiceUsersCollectionPage

    @{
        ViewData["Title"] = "Users";
    }
    
                          <p class="d-flex">     
                              <a class="btn nav-link" asp-area="" asp-controller="User" asp-action="CreateUser">Create User</a>

                            <a class=" btn nav-link" asp-area="" asp-controller="User" asp-action="UpdateUser">Update Users</a>
                            
                     </p>
    
        <h3>Users</h3>
    @foreach(var item in Model)
    {



        <span>
            <label> User:            </label>

           <p> @item.DisplayName</p>

            <label> Email:            </label>

            <p>  @item.Mail</p>

             <label>Alt. Email:</label>
            <p>  @item.UserPrincipalName</p>
            

            <hr/>
           </span> 


    }