@model Microsoft.Graph.IGraphServiceUsersCollectionPage

    @{
        ViewData["Title"] = "Users";
    }
    

                          <p class="d-flex">     
                   

                            <a class=" btn btn-info nav-link m-1" asp-area="" asp-controller="User" asp-action="UpdateUser">Update User</a>

                               <a class=" btn btn-danger nav-link m-1" asp-area="" asp-controller="User" asp-action="UserDeleteForm">Delete a User</a>
                            
                     </p>
    
    @foreach(var item in Model)
    {



        <span class="card card-body">
            <label> User:            </label>

           <p> @item.DisplayName</p>
                      

            <label> Email:            </label>

            <p>  @item.Mail</p>

             <label>Alt. Email:</label>
            <p>  @item.UserPrincipalName</p>
            

            <hr/>
           </span> 


    }