@model Microsoft.Graph.DriveItem

    @{
        ViewData["Title"] = "GetOneDrive";
    }
    

     <h4>OneDrive</h4>


@*         
        

       *@

            

        @Model.Name
        
        @Model.FileSystemInfo